Body {
  background-color: #67e990;
} h1 {color: #f61629;} p {color: #5f1bb7;} 
.box {
    border: 5px solid blue;
    background-color: aqua;
    padding: 40px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 70px;
    margin-bottom: 70px; 
    width: 290px;
    height: 100px;
}
p {
    margin-top: 50px;
    margin-bottom: 50px;
}
